<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Pixel Perfect</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link rel="stylesheet" href="/stylesheets/main.css">
	<link rel="stylesheet" href="/slick.css" type="text/css">
	<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Raleway:400,700" rel="stylesheet">
	<script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js" integrity="sha384-kW+oWsYx3YpxvjtZjFXqazFpA7UP/MbiY4jvs+RWZo2+N94PFZ36T6TFkc9O3qoB" crossorigin="anonymous"></script>
</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-light fixed-top">
	  <a class="navbar-brand" href="/">
	  		<img src="/assets/icons/aperature-black.svg" alt="Small icon of camera on the navigation bar"> 		
  			<div class="pt-1">Pixel Perfect</div>
	  </a>
	  
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
	    <span class="icon-bar"></span>
	    <span class="icon-bar"></span>
	    <span class="icon-bar"></span>
	  </button>

	  <div class="collapse navbar-collapse" id="navbarSupportedContent">
	    <ul class="navbar-nav mr-auto">
	      <li class="nav-item active">
	        <a class="nav-link" href="#"> Home <span class="sr-only">(current)</span></a>
	      </li>
	      <li class="nav-item">
	        <a class="nav-link" href="#">Link</a>
	      </li>
	      <li class="nav-item dropdown">
	        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	          Dropdown
	        </a>
	        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
	          <a class="dropdown-item" href="#">Action</a>
	          <a class="dropdown-item" href="#">Another action</a>
	          <div class="dropdown-divider"></div>
	          <a class="dropdown-item" href="#">Something else here</a>
	        </div>
	      </li>
	      <li class="divider"></li>
		    <% if (!currentUser) { %>
		    <li>
		    	<a href="/login" class="nav-link small-item">Log In</a>
		    </li>
		    <li>
				<a href="/signup" class="nav-link small-item">Sign Up</a>
		    </li>
		    <% } else { %>
		    <div class="logout" id="logout">
		    	<h5 class="user">
		    		<div>
			    		Logged in as <em><strong><%=currentUser.username %></strong></em>
		    		</div>
		    	</h5>
			    <a class="nav-link" href="/logout">
			    	<button class="btn btn-outline-danger">Log Out</button>
			    </a>		    	
		    </div>
		    <% } %>
	    </ul>
	  </div>
	</nav>
	<div class="login-container register site">
		<% if (success && success.length > 0) { %>
			<div class="alert alert-success text-center"><%= success %></div>
		<% } %>
		<% if (error && error.length > 0) { %>
			<div class="alert alert-danger text-center"><%= error %></div>
		<% } %>
		
		