<%- include('./partials/header') %>
<section class="landing">
	<header>
		<h1>Pixel Perfect</h1>
	</header>
	<div class="intro">
		<p>
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias veniam animi recusandae, cupiditate obcaecati minus dignissimos ut debitis error, quae asperiores, voluptate fugit aliquam, molestiae perspiciatis nisi modi sequi laboriosam.			
		</p>
		<button class="btn btn-success my-4">Get Started!</button>
	</div>
</section>
<section class="modals py-4">
	<header>
		<em>What are you looking for?</em>
	</header>
	<div class="row">
		<a href="/photographers" class="col-md-6">
			<div class="landing-modal d-flex justify-content-center">
				<div class="card align-items-center">
					<img src="/images/stock-camera.jpg" alt="Camera hanging on the wall">
					<h3>Photographer</h3>
					<ul class="card-info">
						<li>Find your match</li>
						<li>Review your favorite</li>
						<li>View portfolio</li>
					</ul>
					<button class="btn btn-outline-success">Find match</button>
				</div>			
			</div>
		</a>
		<a href="/models" class="col-md-6">
			<div class="landing-modal d-flex justify-content-center">
				<div class="card align-items-center">
					<img src="/images/model-modal.jpg" alt="Camera hanging on the wall">
					<h3>Model</h3>
					<ul class="card-info">
						<li>See model traits</li>
						<li>Review your favorite</li>
						<li>View portfolio</li>
					</ul>
					<button class="btn btn-outline-success">Find match</button>
				</div>
			</div>			
		</a>
	</div>
</section>
	

<%- include('./partials/footer') %>
