<%- include('./partials/header') %>
<section class="">
	<h1>The Golden Rule</h1>
	<a href="/models">
		<button>I am a Photographer</button>
	</a>
	<a href="/photographers">
		<button>I am a Model</button>
	</a>

</section>
<section class="desc">
	<div>step1</div>
	<div>step2</div>
	<div>step3</div>
</section>
<section>
	
</section>

<%- include('./partials/footer') %>

