<%- include('./partials/header') %>
<section>
	<div class="jumbotron">
		<h1 class="text-center">Pixel Perfect</h1>
		<p class="lead">It's never been easier to find a model or photographer.</p>
	</div>
	<h3>Looking for a...</h3>
	<div class="row">
		<div class="models col-md-6">
			<img src="images/model-home.jpg" alt="" class="img-fluid">
<!-- 			<a href="/models" class="to-model">
				<button class="btn btn-primary">Model</button>
			</a>	 -->		
		</div>
		<div class="photographers col-md-6">
			<img src="images/photographer-home.jpg" alt="" class="img-fluid">
<!-- 			<a href="/photographers" class="to-photographer">
				<button class="btn btn-primary">Photographer</button>
			</a>		 -->
		</div>
	</div>
<section>
	
</section>

<%- include('./partials/footer') %>
