<%- include('./partials/header') %>
<section class="landing">
	<header>
		<h1>Pixel <strong>Perfect</strong></h1>
	</header>
	<!-- <div class="d-flex justify-content-center align-items-center">
		<div class="jumbotron">
			<div class="title d-flex justify-content-center mb-5">
				<img src="/assets/icons/photo-camera.svg" alt="">
				<h2 class="text-center mb-0 mx-2 d-flex align-items-center">Pixel Perfect</h2>			
			</div>
			<p class="lead my-2">Designed to connect freelance photographers and models, it's never been easier to meet your Pixel Perfect match!</p>
		</div>		
	</div>
	<h3 class="text-center">Looking for a...</h3>
	<div class="row">
		<a href="/photographers" class="col-md-6">
			<div class="landing-modal d-flex justify-content-center">
				<div class="card align-items-center p-3">
					<h3 class="text-center">Photographer</h3>
					<img src="assets/icons/camera.svg" alt="" class="img-fluid">				
				</div>			
			</div>
		</a>
		<a href="/models" class="col-md-6">
			<div class="landing-modal d-flex justify-content-center">
				<div class="card align-items-center p-3">
					<h3 class="text-center">Model</h3>			
					<img src="assets/icons/selfie.svg" alt="" class="img-fluid">				
				</div>
			</div>			
		</a>
	</div> -->
</section>
	

<%- include('./partials/footer') %>
