<%- include('./partials/header') %>
<section class="landing">
	<header>
		<h1>Pixel Perfect</h1>
	</header>
	<div class="intro">
		<p>
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias veniam animi recusandae, cupiditate obcaecati minus dignissimos ut debitis error, quae asperiores, voluptate fugit aliquam, molestiae perspiciatis nisi modi sequi laboriosam.			
		</p>
		<button class="btn btn-success my-4">Get Started!</button>
	</div>
</section>
<section class="modals py-4">
	<header>
		<em>What are you looking for?</em>
	</header>
	<div class="row">
		<a href="/photographers" class="col-md-6">
			<div class="landing-modal d-flex justify-content-center">
				<div class="card align-items-center">
					<img src="/images/stock-camera.jpg" alt="Camera hanging on the wall">
					<h3>Photographer</h3>
					<ul class="card-info">
						<li>Find your match</li>
						<li>Review your favorite</li>
						<li>View portfolio</li>
					</ul>
					<button class="btn btn-outline-success">Find match</button>
				</div>			
			</div>
		</a>
		<a href="/models" class="col-md-6">
			<div class="landing-modal d-flex justify-content-center">
				<div class="card align-items-center">
					<img src="/images/model-modal.jpg" alt="Camera hanging on the wall">
					<h3>Model</h3>
					<ul class="card-info">
						<li>See model traits</li>
						<li>Review your favorite</li>
						<li>View portfolio</li>
					</ul>
					<button class="btn btn-outline-success">Find match</button>
				</div>
			</div>			
		</a>
	</div>
</section>
<footer>
	<div class="note">
		<h4>NOTE</h4>
		<p>
			This site is for <strong>demonstration purposes only.</strong> Some functionality may be limited.
		</p>
	</div>
	<div class="credit">
		Icons made by <a href="https://www.flaticon.com/authors/daniel-bruce" title="Daniel Bruce">Daniel Bruce</a> from <a href="	https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a>
	</div>
</footer>
	

<%- include('./partials/footer') %>
