<%- include('./partials/header') %>

<h1>THIS IS THE MODELS PAGE</h1>
<a href="/models/new">
	<button class="btn btn-primary">Add New Model</button>
</a>

<div>
	<div class="row">
		<% models.forEach((model) => { %>	
			<div class="col-md-3 col-md-6">
				<%= model.name %>
				<img src="<%= model.image %>" alt="Model" class="img-thumbnail">		
			</div>
		<% }) %>
	</div>
</div>

<%- include('./partials/footer') %>
