body, html {
  background: #f8f8f8;
  font-family: 'IBM Plex Sans', sans-serif; }

ul {
  list-style-type: none; }

h1, h3 {
  margin: 1rem 0; }

.jumbotron {
  margin-top: 2rem; }

.models, .photographers {
  margin: 5% 0;
  text-align: center;
  position: relative; }
  .models img, .photographers img {
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2); }

.btn {
  width: 100%;
  border-radius: 0; }

.add-model label {
  width: 100%; }
  .add-model label input, .add-model label textarea {
    width: 100%; }

.desc {
  margin: 10% 0; }

.comments {
  padding: 0; }
  .comments li {
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
    background: #FFFFFF;
    padding: 10px;
    margin: 10px; }

.add-comment label {
  width: 100%; }
  .add-comment label input, .add-comment label textarea {
    width: 100%; }
