<%- include('../partials/header') %>
<div class="index">
	<h2 class="text-center">All Models</h2>
	<button class="btn btn-primary add-new">Add New</button>

	<div class="grid">
		<% models.forEach((model) => { %>
		<div class="grid-sizer"></div>
		<div class="grid-item">
			<a href="/models/<%= model._id %>">
				<img src="<%= model.profileImg %>" alt="Model" class="index-thumbnail">		
			</a>				
		</div>
		<% }) %>
	</div>
</div>

<%- include('../partials/footer') %>
