<%- include('../partials/header') %>
<div class="index">
	<h2 class="text-center">Models</h2>
	<a href="/models/new">
		<button class="btn btn-primary add-new">
			<span>
				<i class="fas fa-plus fa-lg"></i>
			</span>
		</button>		
	</a>

	<div class="grid">
		<% models.forEach((model) => { %>
		<div class="grid-sizer"></div>
		<div class="grid-item">
			<a href="/models/<%= model._id %>">
				<img src="<%= model.profileImg %>" alt="Model" class="index-thumbnail">		
			</a>				
		</div>
		<% }) %>
	</div>
</div>

<%- include('../partials/footer') %>
