<%- include('../partials/header') %>

<h3 class="text-center">Add New Model</h3>
<form action="/models" method="POST" class="form-group add-model">
	<label for="name">
		<input class="form-control" type="text" id="name" placeholder="Name" name="name">
	</label>
	<label for="image">
		<input class="form-control" type="text" id="image" placeholder="Image URL" name="image">
	</label>
	<label for="desc">
		<textarea class="form-control" placeholder="Description" name="desc" id="desc" cols="30" rows="10"></textarea>
	</label>
	<button class="btn btn-success" type="submit">Submit</button>
</form>

<%- include('../partials/footer') %>
