<%- include('../partials/header') %>

<h3 class="text-center">Add New Model</h3>
<form action="/models" method="POST" class="form-group add-model">
	<label for="name">Name</label>
	<div class="form-group" id="name">
		<div class="form-group">
			<label for="first-name">
				<input class="form-control" type="text" id="first-name" placeholder="First Name" name="model[name][first]" required>
			</label>
			<label for="last-name">
				<input type="text" placeholder="Last Name" class="form-control" id="last-name" name="model[name][last]">				
			</label>
		</div>
	</div>
	<div class="form-group">
		<label for="category">Type of Model</label>		
			<select class="form-control" name="model[category]" id="category">
				<option value="" selected disabled>Category</option>
				<option value="Street">Street</option>
				<option value="Cosplay">Cosplay</option>
				<option value="Nature">Nature</option>
				<option value="Boudoir">Boudoir</option>
			</select>
	</div>
	<div class="form-group">
		<label for="profileImg">Profile Picture</label>
		<input class="form-control" type="text" id="image" placeholder="Profile Picture" name="model[profileImg]" required>		
	</div>
	<div class="form-group">
		<label for="">Additional Images</label>
		<ul class="all-images">
			<li class="list-group-item">
				<input class="form-control" type="text" id="image" placeholder="Additional Photos" name="model[images][0]">
			</li>
			<li class="list-group-item">
				<input class="form-control" type="text" id="image" placeholder="Image URL" name="model[images][1]">
			</li>
				<li class="list-group-item">
				<input class="form-control" type="text" id="image" placeholder="Image URL" name="model[images][2]">
			</li>
		</ul>		
	</div>
	<div class="form-group">
		<label for="age">Age</label>
		<input type="number" id="age" placeholder="Age" class="form-control" name="model[age]">		
	</div>
	<div class="form-group">
		<label for="hair-color">Hair Color</label>
		<input type="text" id="hair-color" placeholder="Hair color" class="form-control" name="model[hairColor]">
	</div>
	<div class="form-group">
		<label for="ethnicity">Ethnicity</label>
		<input type="text" id="ethnicity" placeholder="Ethnicity" class="form-control" name="model[ethnicity]">
	</div>
	<div class="form-group">
		<label for="eye-color">Eye Color</label>
		<input type="text" id="eye-color" placeholder="Eye color" class="form-control" name="model[eyeColor]">
	</div>
	<div class="form-group">
		<label for="">Height</label>
		<div class="height">
		<label for="feet" class="mr-3">
			<input type="number" id="feet" placeholder="Feet" class="form-control" name="model[height][feet]">
		</label>		
		<label for="inches">
			<input type="number" id="inches" placeholder="Inches" class="form-control" name="model[height][inches]">
		</label>		
		</div>
	</div>
	<div class="form-group">
		<label for="experience">Years of Experience</label>
		<input type="number" class="form-control" id="experience" placeholder="Years of experience" name="model[experience]">		
	</div>
	<div class="form-group">
		<label for="tattoos">Tattoos</label>
	    <select name="model[tattoo]" class="form-control" id="tattoos">
			<option value="" selected disabled>Tattoos?</option>
	     	<option value="yes">Yes</option>
	      	<option value="no">No</option>
	    </select>
	</div>
	<div class="form-group">
		<label for="desc">Description</label>
			<textarea class="form-control" placeholder="Tell the world a little bit about yourself!" name="model[desc]" id="desc" cols="30" rows="10"></textarea>		
	</div>
	
	<button class="btn btn-success" type="submit">Submit</button>
</form>

<%- include('../partials/footer') %>
