<%- include('../partials/header') %>

<h3 class="text-center">Add New Model</h3>
<form action="/models" method="POST" class="form-group add-model">
	<label for="name">
		<input class="form-control" type="text" id="name" placeholder="Name" name="model[name]" required>
	</label>
	<label for="image">
		<input class="form-control" type="text" id="image" placeholder="Image URL" name="model[image]" required>
	</label>
	<label for="age">
		<input type="number" id="age" placeholder="Age" class="form-control" name="model[age]">
	</label>
	<label for="hair-color">
		<input type="text" id="hair-color" placeholder="Hair color" class="form-control" name="model[hairColor]">
	</label>
	<label for="ethnicity">
		<input type="text" id="ethnicity" placeholder="Ethnicity" class="form-control" name="model[ethnicity]">
	</label>
	<label for="eye-color">
		<input type="text" id="eye-color" placeholder="Eye color" class="form-control" name="model[eyeColor]">
	</label>
	<label for="height">
		<input type="number" id="height" placeholder="Height" class="form-control" name="model[height]">
	</label>
	<label for="experience">
		<input type="number" class="form-control" id="experience" placeholder="Years of experience" name="model[experience]">
	</label>
	<label for="tattoos">
	    <select name="model[tattoo]" class="form-control" id="tattoos">
			<option value="" selected disabled>Tattoos?</option>
	     	<option value="yes">Yes</option>
	      	<option value="no">No</option>
	    </select>
	</label>
	<label for="desc">
		<textarea class="form-control" placeholder="Tell the world a little bit about yourself!" name="model[desc]" id="desc" cols="30" rows="10"></textarea>
	</label>
	<button class="btn btn-success" type="submit">Submit</button>
</form>

<%- include('../partials/footer') %>
