<%- include('../partials/header') %>

<h1>Add New Model</h1>
<form action="/models" method="POST">
	<label for="name">
		<input type="text" id="name" placeholder="Name" name="name">
	</label>
	<label for="image">
		<input type="text" id="image" placeholder="Photo" name="image">
	</label>
	<label for="desc">
		<textarea name="desc" id="desc" cols="30" rows="10"></textarea>
	</label>
	<button type="submit">Submit</button>
</form>

<%- include('../partials/footer') %>
