<%- include('../partials/header') %>
<h1>Photographers</h1>
<a href="/photographers/new"><button class="btn btn-primary">New Photographer</button></a>

<div class="row">
	<% photographers.forEach((photographer) => { %>
		<div class="photographer col-md-3 col-md-6">
			<a href="/photographers/<%= photographer._id %>">
				<img src="<%= photographer.profileImg %>" alt="" class="img-thumbnail">
			</a>
		</div>
	<% }) %>
</div>
<%- include('../partials/footer') %>
