<%- include('../partials/header') %>
<div class="index">
	<h2 class="text-center m-3">All Photographers</h2>
	<button class="btn btn-primary add-new">Add New</button>

	<div class="grid">
		<div class="grid-sizer"></div>
		<% photographers.forEach((photographer) => { %>
			<div class="grid-item">
				<a href="/photographers/<%= photographer._id %>">
					<img src="<%= photographer.profileImg %>" alt="" class="index-thumbnail">
				</a>				
			</div>
		<% }) %>
	</div>
</div>
<%- include('../partials/footer') %>
