<%- include('../partials/header') %>
<div class="index">
	<h2 class="text-center">All Photographers</h2>
	<a href="/photographers/new">
		<button class="btn btn-primary add-new">
			<span>
				<i class="fas fa-plus fa-lg"></i>
			</span>
		</button>		
	</a>

	<div class="grid">
		<div class="grid-sizer"></div>
		<% photographers.forEach((photographer) => { %>
			<div class="grid-item">
				<a href="/photographers/<%= photographer._id %>">
					<img src="<%= photographer.profileImg %>" alt="" class="index-thumbnail">
				</a>				
			</div>
		<% }) %>
	</div>
</div>
<%- include('../partials/footer') %>
