<%- include('../partials/header') %>
<div class="index">
	<h2 class="text-center m-3">All Photographers</h2>
	<a href="/photographers/new" class="add-new">
		<img src="./assets/icons/plus.svg" alt="">
	</a>
	<div class="row no-gutters">
		<% photographers.forEach((photographer) => { %>
			<a href="/photographers/<%= photographer._id %>" class="col-md-3 col-md-6">
				<img src="<%= photographer.profileImg %>" alt="" class="index-thumbnail">
			</a>
		<% }) %>
	</div>
</div>
<%- include('../partials/footer') %>
